/* common styles  */
body{
    font-family: 'Poppins', sans-serif;
}
/* top banner section  */
.sports-top-bar{
    display: flex;
    background-color: #2D25A0;
    height: 750px;
    
}
.top-bar-title{
    font-size: 80px;
    margin-left: 100px;
    margin-top: 150px;
    color: #FFFFFF;
}
.banner-width{
    width: 50%;
}

.banner-width img {
    width: 90%;
    margin-top: 100px;
 }
 
    /* hover style start */
.live-button{
    text-decoration: none;
    font-size: 26px;
    color: white;
    margin-left: 100px;
    padding: 5px;  
    border: 3px solid #0bfdf1;
    border-radius: 3px;
    position: relative;
    transition: ease-out 0.3s;
    z-index: 1;
}
.live-button::before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color:#0bfdf1;
}
.live-button:hover::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
    /* hover style end  */

/* players name about details  */
.player-photo img {
    width: 320px;
    height: 256px;
}
.player-name{
    font-size: 28px;
}
.player-details{
    width: 340px;
    height: 525px;
    text-align: justify;
    border: 1px solid white;
    box-shadow: 0px 0px 40px rgba(128, 128, 128, 0.39);
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 10px;
}
.players-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1050px;
    height: 474px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}
  /* footer part  */
footer{
    margin-top: 125%;
}
.last-part img{
    width: 450px;
    margin-left: 500px;
}
.social-media{
    margin-left: 700px;
    font-size: 25px;
    
}
.social-media .color{
    color:rgba(0, 0, 0, 0.411);
    width: 40px;
}
.Copyright{
    margin-left: 680px;
}